body {
  background: var(--gray-800);
}

.host-image {
  position: absolute;
}

/* Accent color in title */
.title > .--highlight {
  color: var(--accent);
}

/* General styling for inputs */
.input {
  border-radius: 28px;
}
.email,
.email::placeholder {
  color: var(--white);
}
.submit {
  color: var(--gray-800);
  background-color: var(--accent);
}
.submit:hover,
.submit:focus {
  background-color: var(--accent-hover);
}

/* Layout for logos */
.logo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.form {
  /* Positioning of error message */
  position: relative;
}
.error {
  position: absolute;

  /* Hide error by default, including from screen readers */
  display: none;

  color: var(--error);
}
/*
  When form is invalid (only possible due to e-mail error) and has been submitted, reveal the error.
  Submitting will add the '--submitted' class
*/
.--submitted.form:invalid > .error {
  display: unset;
}