@media only screen and (min-width: 750px) {
  :root {
    --fs-title: 48px;
    --lh-title: 56px;

    --fs-body: 18px;
    --lh-body: 28px;
  }
  
  body {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 94px;

    position: relative;
  }

  .logo {
    margin-bottom: 56px;
  }

  /* Image to top-right */
  .image-and-main {
    top: -50px;
    left: 0;
    right: 94px;
    
    position: relative;
  }
  .host-image {
    bottom: 0;
    right: -94px;
    z-index: -1;

    width: 491px;
    height: 767px;
  }

  .main-content {
    margin-bottom: 40px;

    z-index: 1;

    /* Allows us to position logos below inputs using order property */
    display: flex;
    flex-direction: column;

    padding-top: 92px;

    background: var(--gray-800);
  }

  /* Main text */
  .title {
    margin-bottom: 32px;
  }
  .body-text {
    margin-bottom: 40px;

    max-width: 40ch;
  }

  /* Logo list */
  /* Position logos below form */
  .logo-list {
    order: 1;
  }
  .logo-list {
    margin-bottom: 48px;
    
    max-height: 29px;
  }
  .logo-list__item > img {
    margin-right: 40px;

    max-height: 29px;
  }

  /* Form */
  .form {
    margin-bottom: 64px;

    max-width: 40ch;

    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 5px;
    padding-block: 5px;

    border-radius: 26px;
    background-color: var(--gray-600);
  }
  .submit {
    padding-inline: 27px;
    padding-block: 9px;
  }
  .error {
    top: calc(100% + 8px);
  }

  /* Decorative dots */
  .dots {
    left: 40px;
    bottom: 0;

    /* Only matters if screen height is too small; pushes dots under main background */
    z-index: -1;
    
    position: fixed;
    width: 232px;
    height: 104px;

    background-image: url('../assets/desktop/bg-pattern-dots.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}